<html>
<head>
	  <!-- Standard Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta charset="utf-8" />	
  <!-- Site Properties -->
  <title>Liste des thèmes</title>
  <link rel="stylesheet" type="text/css" href="assets/semantic.css">
  <script type="text/javascript" src="assets/jquery.js"></script>
  <script type="text/javascript" src="assets/semantic.js"></script>
</head>
<body>
 <div class="ui sidebar left inverted vertical container menu">
    <a href="./themes?fetch=ALL" class="item">
    <i class="comments icon"></i>
      Tous les thèmes
    </a>
    <a href="./themes?fetch=SELF" class="item">
    <i class="comment icon"></i>
      Mes thèmes 
    </a>
  </div>
 
  <div class="ui fixed top inverted menu">
		  	<div class="ui container">
		  		<a id="toggle" class="item">
		  		<i class="sidebar icon"></i>
		  		Menu
		  		</a>
		  		<a th:text="${user.getPrenom() + ' '+user.getNom()}" class="item">
		  		</a>
		  		<div class="right menu">
    			<a href="/logout" class="item">
    			<i class="sign out icon"></i>
    			Déconnexion</a>
  				</div>
		  	</div>
  		</div>
<div class="pusher">
<div class="ui middle aligned very padded segment container">
   		<h2 class="ui center aligned icon header">
		  <i class="comments icon"></i>
		  <div class="content">
		    Le Cercle des Scribouillards !
		  </div>
		</h2>
		<div class="ui center aligned vertical segment">
		<div class="ui positive button" id="show">Ajouter un thème</div>
		</div>
	<table class="ui single line table">
  <thead>
  	<th>Catégorie</th>
  	<th>Auteur</th>
  	<th>Titre</th>
  	<th>Date de parution</th>
  	<th></th>
  </thead>
  <tbody>
    <tr th:each="t : ${themes}">
  		<td>
  			<span th:text="${t.getCategorie()}" class="ui green ribbon label">Environnement</span>
  		</td>
      <td>
      	   <img class="ui avatar image" src="assets/avatars/man.png">
      <span th:text="${t.getAuteur().getPrenom() + ' '+t.getAuteur().getNom()}"></span>
      </td>
      <td th:text="${t.getTitre()}"></td>
      <td th:text="${t.getDateCreation()}"></td>
      <td class="right aligned">
      	      <a th:href="@{'/theme?id='+${t.getId()}}" class="ui button">Détails</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal d'ajout de thème  -->
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Ajouter un thème
  </div>
  <div class="content">
    <div class="description">
    <form class="ui large form" method="POST" th:action="@{/themes}" th:object="${theme}">
		<div class="field">
  		  <div class="fields">
			<div class="twelve wide field">
            <label>Titre</label>
            <input th:field="*{titre}" type="text" name="titre" placeholder="Renseignez un titre ...">
          	</div>
	          <div class="four wide field">
            	<label>Catégorie</label>
		        <select class="ui fluid dropdown" name="categorie">
	            <option value="Environnement" selected>Environnement</option>
	            <option value="Pollution">Pollution</option>
	            <option value="Humanitaire">Humanitaire</option>
	            <option value="Autre">Autre</option>
		        </select>
		      </div>
			</div>
		</div>
        <div class="field">
          <label>Description</label>
          <div class="ui left icon input">
            <textarea name="description" placeholder="Renseignez une description..."></textarea>
          </div>
        </div>
    <div class="ui divider"></div>
    <div class="ui right aligned container">
    <button type ="submit" class="ui positive right labeled icon button">
      Ajouter
      <i class="checkmark icon"></i>
    </button>
    </div>
    <div th:if="${#fields.hasErrors('*')}" class="ui left aligned negative message container">
		<div class="header">
		 Erreur d'ajout
		</div>
		<ul>
		  <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</div>
    </form>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
	$('#show').on('click',function() {
		$('.ui.modal').modal('show');
	});
  	$('#toggle').click(function(){ 
  		$('.ui.sidebar').sidebar('toggle'); 
  	});
  	$('.ui.dropdown')
    .dropdown();

</script>
<script th:if="${hasError}" >
	$('.ui.modal').modal('show');
</script>
</div>
</body>
</html>