
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8">
<title>Theme</title>
  <link rel="stylesheet" type="text/css" href="assets/semantic.css">
  <script type="text/javascript" src="assets/jquery.js"></script>
  <script type="text/javascript" src="assets/semantic.js"></script>
</head>
<body>
<div class="ui sidebar left inverted vertical container menu">
    <a href="./themes?fetch=ALL" class="item">
    <i class="comments icon"></i>
      Tous les thèmes
    </a>
    <a href="./themes?fetch=SELF" class="item">
    <i class="comment icon"></i>
      Mes thèmes
    </a>
  </div>
 
  <div class="ui fixed top inverted menu">
		  	<div class="ui container">
		  		<a id="toggle" class="item">
		  		<i class="sidebar icon"></i>
		  		Menu
		  		</a>
		  		<a th:text="${user.getPrenom() + ' '+user.getNom()}" class="item">
		  		</a>
		  		<div class="right menu">
    			<a href="/logout" class="item">
    			<i class="sign out icon"></i>
    			Déconnexion</a>
  				</div>
		  	</div>
  		</div>


  	<!-- DYNAMIC CONTENT -->	
  <div class="pusher">
   	<div class="ui vertical very padded segment">
   	 	<div class="ui container">
   		<h2 class="ui center aligned icon header">
		  <a href="/themes" style="color : black;"><i class="comments icon"></i></a>
		  <div class="content">
		  Le Cercle des Scribouillards !
		  </div>
		</h2>
   		<div class="ui divider"></div>
      <div class="ui stacked segment">
      <span class="ui right floated button" th:text="${theme.getDateCreation()}"></span>
      <span th:text="${theme.getAuteur().getPrenom() + ' '+theme.getAuteur().getNom()}" class="ui header"></span>
      <p class="ui sub header" th:text="${theme.getCategorie()}"></p>
        <div class="ui divider"></div>
		  	<button id="show" class="ui right floated blue button">
			          Proposer un article
			</button>
        <p class="ui sub header" th:text="${theme.getTitre()}"></p>
        <div class="ui divider"></div>
        <p th:text="${theme.getDescription()}">
        </p>
        <div class="ui divider"></div>
      </div>
  	   <h4 class="ui horizontal divider header">
			<i class="tag icon"></i>
			PROPOSITIONS
	   </h4>
	   		<div class="ui vertical segment">
		<form class="ui form" th:method="GET">
		<input type="hidden" name="id" th:value="${theme.getId()}" />
		<div class="fields">
			<div class="seven wide field"></div>
			<div class="three wide field">
		        <select class="ui fluid dropdown" name="date">
	            <option value="newest" selected>Plus récents</option>
	            <option value="oldest">Moins récents</option>
		        </select>
			</div>
			<div class="three wide field">
		        <select class="ui fluid dropdown" name="voted">
	            <option value="most" selected>Plus votés</option>
	            <option value="least">Moins votés</option>
		        </select>
			</div>
			<div class="three wide field">
    			<button type ="submit" class="ui right floated positive button">Trier</button>
			</div>
		</div>
		</form>
		</div>
  	 <div class="ui vertical  padded segment">
  			<div th:each="article : ${theme.getArticles()}" class="ui raised segment column">
			<div class="item" th:id="${article.getId()}">
			 <a th:if="${user.equals(article.getAuteur())}" th:onclick="${'deleteArticle('+theme.getId()+','+article.getId()+')'}" class="floating ui circular red label">X</a>
		    <div class="content">
	       	<span class="ui right floated button" th:text="${article.getDateCreation()}"></span>
		      <a class="ui header" th:text="${article.getTitre()}"></a>
		      <p th:text="${article.getAuteur().getPrenom() + ' '+article.getAuteur().getNom()}" class="ui sub header"></p>

		      <div class="description">
				<div>
		        <a href="#"  th:href="@{'/evalArticle?tId='+${theme.getId()}+'&aId='+${article.getId()}+'&val=1'}" style="color : green;"><i class="ui big thumbs up link icon"></i></a>
		        <a href="#"  th:href="@{'/evalArticle?tId='+${theme.getId()}+'&aId='+${article.getId()}+'&val=-1'}" style="color : red;"><i class="ui big thumbs down link icon"></i></a>
		        <span th:id="${'article'+article.getId()}" class="ui label" th:text=${article.getVotes()}></span>
		        </div>
		      </div>
		      <div class="ui extra">
				<div class="ui accordion">
				  <div class="title">
			        <button class="ui right floated primary basic button">
			          Détails
			        </button>
				  <div th:switch="${article.getVoteurs().contains(user)}">
				  <p th:case="true">Vous avez déjà voté !</p>
				  <p th:case="false">Votre avis ?</p>
				  </div>
				  </div>
				  <div class="content">
				    <p th:text="${article.getDescription()}"></p>
				  </div>
				</div>
		      </div>
		    </div>
		   	</div>
			  </div>	
		
			</div>
  </div>
     </div>

  </div>	
  
  <div class="ui modal" id="addArticle">
  <i class="close icon"></i>
  <div class="header">
    Ajouter un article
  </div>
  <div class="content">
    <div class="description">
    <form class="ui large form" method="POST" th:action="@{'theme?tId='+${theme.getId()}}" th:object="${article}">
			<div class="field">
            <label>Titre</label>
            <input th:field="*{titre}" type="text" name="titre" placeholder="Renseignez un titre ...">
          	</div>

        <div class="field">
          <label>Contenu de l'article</label>
          <div class="ui left icon input">
            <textarea th:field="*{description}" name="description" placeholder="Renseignez une description..."></textarea>
          </div>
        </div>
    <div class="ui divider"></div>
    <div class="ui right aligned container">
    <button type ="submit" class="ui positive right labeled icon button">
      Ajouter
      <i class="checkmark icon"></i>
    </button>
    </div>
    <div th:if="${param.error}" class="ui left aligned negative message container">
		<div class="header">
		 Erreur d'ajout. Veuillez renseigner tous les champs.
		</div>
	</div>
    </form>
  </div>
</div>
</div>

<div class="ui mini modal" id="deleteArticle">
    <i class="close icon"></i>
    <div class="header">
      Confirmation de suppression
    </div>
    <div class="content">
      <p>Confirmez-vous la suppression de cet article ?</p>
    </div>
    <div class="actions">
      <div class="ui negative button">
        Non
      </div>
      <a id="deleteOK" href="#" class="ui positive right labeled icon button">
        Oui
        <i class="checkmark icon"></i>
      </a>
    </div>
  </div>


  <script>
  		function deleteArticle(tId, aId) {
  			$('#deleteOK').attr("href", "/deleteArticle?tId="+tId+"&aId="+aId);
  			$('#deleteArticle').modal('show');
  		}
  		
		$('#show').on('click',function() {
			$('#addArticle').modal('show');
		});
	  $('.ui.accordion')
	  .accordion()
	;
  	$('#toggle').click(function(){ 
  		$('.ui.sidebar').sidebar('toggle'); 
  	});
  	
  	$('.ui.dropdown')
    .dropdown();
  	
  </script>
  <script th:if="${param.error}" >
	$('#addArticle').modal('show');
</script>	
</body>
</html>